<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_img_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slamtk"
        tools:targetApi="31">
        <activity
            android:name=".ContactWithDoctor"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SternumCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForeheadCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryExaminationsDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryExaminationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonalInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterOtpCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetSuccessfullyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Reset_PasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Newborn_InformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>